.thim-sc-button {
	.btn-primary {
		background-color: $thim_body_primary_color;
		&:hover {
			background-color: darken($thim_body_primary_color, 20%);
			border-color: darken($thim_body_primary_color, 20%);
		}
	}
	.btn-secondary {
		color: $thim_font_title_color;
		&:hover {
			background-color: $thim_body_primary_color;
			border-color: $thim_body_primary_color;
		}
	}

	.btn-basic {
		color: $thim_body_primary_color;
		border-color: $thim_body_primary_color;
		&:hover {
			background-color: $thim_body_primary_color;
		}
	}
}